@use "../variables";

.comment__card {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: variables.$White;
  padding: variables.$card-padding;
  align-items: center;
  justify-items: center;

  &-section1 {
    display: grid;
    gap: 10px;
    background-color: variables.$Light-gray;
    padding: 10px;
    border-radius: 10px;
  }

  &-sectiontop {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &-avatar-container {
    width: 30px;
    height: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-avatar-name {
    font-weight: 500;
  }

  &-button-container {
    margin-left: auto;
  }
}
