@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);

  --Soft-red: hsl(10, 79%, 65%);
  --light-red: hsl(10, 58%, 75%);
  --Cyan: hsl(186, 34%, 60%);
  --light-Cyan: hsl(186, 35%, 70%);
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--Cream);
}

.card-top {
  min-width: 22vw;
  background-color: var(--Soft-red);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: var(--Very-pale-orange);
  margin-bottom: 2rem;
}

.heading-top {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.balance-amt {
  font-size: 2.3rem;
  font-weight: 600;
}

.logo {
  height: 3.5rem;
}

.card-bottom {
  background-color: var(--Very-pale-orange);
  min-width: 22vw;
  border-radius: 1rem;
  padding: 2rem;
}

.primary-heading-bottom,
.varience,
.expense {
  color: var(--Dark-brown);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondary-heading-bottom,
.month {
  color: var(--Medium-brown);
  font-size: 1.2rem;
}

.expense {
  font-size: 2.5rem;
  font-weight: 700;
}

.varience {
  font-size: 1rem;
  font-weight: 600;
}

.chart-container {
  display: flex;
  justify-content: space-between;
}

.chart {
  display: flex;
  flex-direction: column;
  height: 17em;
  gap: 0.2em;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.chart-wrapper {
  width: 3.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.chart-graph {
  height: var(--height);
  background: var(--Soft-red);
  width: 100%;
  border-radius: 0.25em;
  transition: all 1s;
}
.chart:hover .chart-value {
  opacity: 1;
}

.chart-graph:hover {
  background-color: var(--light-red);
  cursor: pointer;
}

.chart-graph.active {
  background: var(--Cyan);
}

.chart-graph.active:hover {
  background: var(--light-Cyan);
  cursor: pointer;
}

.chart-title {
  color: var(--Dark-brown);
  font-size: em;
}

.line {
  border-bottom: 1px solid var(--Cream);
  margin: 1.5rem 0rem;
}

.chart-value {
  text-align: center;
  opacity: 0;
  padding: 10%;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  width: auto;
  background-color: var(--Dark-brown);
  transition: all 1s;
}

@media screen and (max-width: 500px) {
  .chart-wrapper {
    width: 2.8em;
  }

  .chart {
    height: 17em;
    gap: 1em;
  }
  .card-bottom {
    min-width: 80vw;
  }

  .card-top {
    min-width: 80vw;
  }
}
