.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 20px;
}

.confirmation-img {
  background-image: url("../../../public/assets/images/icon-thank-you.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}

.thank-you-msg {
  font-size: 30px;
  color: var(--Marine-blue);
  font-weight: 700;
}

.thank-you-info {
  color: var(--Cool-gray);
  margin: 20px 0px;
}
