@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Softviolet: hsl(273, 75%, 66%);
  --Softblue: hsl(240, 73%, 65%);

  --Verydarkdesaturatedblue: hsl(238, 29%, 16%);
  --Softred: hsl(14, 88%, 65%);

  --Verydarkgrayishblue: hsl(237, 12%, 33%);
  --Darkgrayishblue: hsl(240, 6%, 50%);

  --Lightgrayishblue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  background-image: linear-gradient(var(--Softviolet), var(--Softblue));

  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 90%;
  height: 70%;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 3rem;
  margin: 3rem 0rem 2rem 0rem;
}

.img-woman {
  width: 24rem;
  position: absolute;
  top: 5rem;
  left: 6rem;
}

.img-pattern {
  position: absolute;
  top: 15rem;
  left: 6rem;
}

.text-container {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
}

.heading {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question:hover {
  color: var(--Softred);
}

.line {
  border-bottom: 1px solid var(--Lightgrayishblue);
}

.faq {
  margin: 0.5rem;
}

.active {
  display: block;
}

.inactive {
  display: none;
}
